{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100-0 clearfix">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Very Rare Only, VRO</a>
                            <h4><a href="#" class="post-headline">빈티지/구제 의류 편집 플랫폼 VRO입니다.</a></h4>
                            <p class="mb-3" style="color:rgba(32, 26, 26, 0.966)">의류의 생산에 많은 환경적, 경제적 비용이 소요되는 한편, 손쉽게 버려지는 옷들의 처리에도 막대한 비용이 듭니다. 우리가 더 빠르고 더 간편한 패션을 누릴수록, 상상하지 못한 대가가 전 지구적 차원에서 치러지고 있습니다. VRO는 빈티지/구제 의류 사업자들을 온라인 입점시킨 ‘빈티지 온라인 편집샵’을 런칭합니다. 이로써 소비자의 빈티지/구제 의류에 대한 인식 개선을 돕고 해당 시장에의 접근성/친밀도를 높여, 의류 소비문화의 지속가능성을 높이고자 합니다.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100" style="margin-bottom: 128px;">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <p class="mt-0 mb-3" style="color:rgba(32, 26, 26, 0.966)">영국의 버려진 의류 중 62%가 재활용, 기부, 빈티지 옷으로 재판매 되며, 독일은 42%, 유럽 전체 평균은 25% 의류를 재한국은 조사 데이터 자체가 없고 한국보다 검소하고 구제시장이 많은 일본도 버려지는 옷의 12%만이 (연간 12만 톤)이 재활용되거나 수거됩니다. VRO는 패스트 패션(저가의 의류를 매우 짧은 주기로 공급하는 방식의 패션산업)의 문제점을 해결하며 소비자들에게 빈티지 의류 정보를 모아 보여주는 빈티지 온라인 플랫폼입니다. </p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100" style="margin-bottom: 230px;">
                        <!-- <img src="{% static 'img/blog-img/1.jpg' %}" alt=""> -->
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">VRO 이번주 아이템</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper End ##### -->
    
   {% endblock %}
