{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Collection -->

    <div class="container" style="height: 1900px;">
        <div class="row recent_rows">
                        <!-- Slide -->
                        <div class="owl-item" style="left: 2px; top: 50px; height: 400px; width: 400px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image" >
                                        <img src="{% static 'bluesky/images/clothing_1.jpg' %}" alt="">
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">Adidas</div>
                                        <div class="recent_item_title"><a href="#">EQT Jacket</a></div>
                                        <div class="recent_item_price">₩ 85,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>Omnipeople</span></div> <!-- 옷집 아이콘 만들어줘 -->
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>S</span></div> <!-- 치수 아이콘 만들어줘 -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item" style=" top: 50px; right: 10px; height: 400px; width: 400px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image">
                                        <img src="{% static 'bluesky/images/clothing_2.jpg' %}" alt="">
                                        <div class="tag_offer property_tag"><a href="#">20% discount</a></div>
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">YSL</div>
                                        <div class="recent_item_title"><a href="#">Black Jacket</a></div>
                                        <div class="recent_item_price">₩ 75,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_1.png' %}" alt=""></div><span>650 Ftsq</span></div>
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>3 Bedrooms</span></div>
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>3 Bathrooms</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="right: -780px; top: -350px; left: 780px; height: 400px; width: 400px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image" >
                                        <img src="{% static 'bluesky/images/clothing_1.jpg' %}" alt="">
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">Adidas</div>
                                        <div class="recent_item_title"><a href="#">EQT Jacket</a></div>
                                        <div class="recent_item_price">₩ 75,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>Omnipeople</span></div> <!-- 옷집 아이콘 만들어줘 -->
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>S</span></div> <!-- 치수 아이콘 만들어줘 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="right: 8px; width: 400px; height: 400px; top: 250px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image">
                                        <img src="{% static 'bluesky/images/clothing_2.jpg' %}" alt="">
                                        <div class="tag_offer property_tag"><a href="#">20% discount</a></div>
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">YSL</div>
                                        <div class="recent_item_title"><a href="#">Black Jacket</a></div>
                                        <div class="recent_item_price">₩ 65,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_1.png' %}" alt=""></div><span>650 Ftsq</span></div>
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>3 Bedrooms</span></div>
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>3 Bathrooms</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="right: -780px; top: -150px; left: 780px; height: 400px; width: 400px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image" >
                                        <img src="{% static 'bluesky/images/clothing_1.jpg' %}" alt="">
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">Adidas</div>
                                        <div class="recent_item_title"><a href="#">EQT Jacket</a></div>
                                        <div class="recent_item_price">₩ 55,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>Omnipeople</span></div> <!-- 옷집 아이콘 만들어줘 -->
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>S</span></div> <!-- 치수 아이콘 만들어줘 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="left: -400px; top: -150px; height: 400px; width: 400px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image" >
                                        <img src="{% static 'bluesky/images/clothing_1.jpg' %}" alt="">
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">Adidas</div>
                                        <div class="recent_item_title"><a href="#">EQT Jacket</a></div>
                                        <div class="recent_item_price">₩ 99,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>Omnipeople</span></div> <!-- 옷집 아이콘 만들어줘 -->
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>S</span></div> <!-- 치수 아이콘 만들어줘 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 400px; height: 400px; top: 49px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image">
                                        <img src="{% static 'bluesky/images/clothing_2.jpg' %}" alt="">
                                        <div class="tag_offer property_tag"><a href="#">20% discount</a></div>
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">YSL</div>
                                        <div class="recent_item_title"><a href="#">Black Jacket</a></div>
                                        <div class="recent_item_price">₩ 77,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_1.png' %}" alt=""></div><span>650 Ftsq</span></div>
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>3 Bedrooms</span></div>
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>3 Bathrooms</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="right: 8px; top: 49px; height: 400px; width: 400px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image" >
                                        <img src="{% static 'bluesky/images/clothing_1.jpg' %}" alt="">
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">Adidas</div>
                                        <div class="recent_item_title"><a href="#">EQT Jacket</a></div>
                                        <div class="recent_item_price">₩ 77,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>Omnipeople</span></div> <!-- 옷집 아이콘 만들어줘 -->
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>S</span></div> <!-- 치수 아이콘 만들어줘 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="right: -780px; top: -351px; height: 400px; width: 400px;">
                            <div class="recent_item">
                                <div class="recent_item_inner">
                                    <div class="recent_item_image" >
                                        <img src="{% static 'bluesky/images/clothing_1.jpg' %}" alt="">
                                    </div>
                                    <div class="recent_item_body text-center">
                                        <div class="recent_item_location">Adidas</div>
                                        <div class="recent_item_title"><a href="#">EQT Jacket</a></div>
                                        <div class="recent_item_price">₩ 77,000</div>
                                    </div>
                                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_2.png' %}" alt=""></div><span>Omnipeople</span></div> <!-- 옷집 아이콘 만들어줘 -->
                                        <div><div class="recent_icon"><img src="{% static 'bluesky/images/icon_3.png' %}" alt=""></div><span>S</span></div> <!-- 치수 아이콘 만들어줘 -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>


                </div>
                <div class="button recent_button"><a href="#">see more</a></div>

    </div>
</div>

{% endblock %}