{% extends 'base.html' %}
{% load staticfiles %}

    {% block content%}
    <div class="container">
        <h3>Sign Up</h3>
        <form method = "POST" action = "{%url 'signup' %}">
            {% csrf_token %}
            <br>
            ID :
            <input name="username" type="text" value="">
            <br>
            <br>
            Password : 
            <input name="password1" type="password" value="">
            <br>
            <br>
            Confrim Password :
            <input name="password2" type="password" value="">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="회원가입하기">
            <br>
            <br>
        </form>
    </div>
    {% endblock %}